{% extends "layout.html" %}
{% block content %}
    <div>
        <br>
        <br>
    </div>
    {% if res|length != 0 %}
    <div class="content-section fit-width">	
        <p>Laptops:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Company</th>
              <th scope="col">Product</th>
              <th scope="col">TypeName</th>
              <th scope="col">Inches</th>
              <th scope="col">Resolution</th>
              <th scope="col">CPU</th>
              <th scope="col">RAM (GB)</th>
              <th scope="col">Memory</th>
              <th scope="col">GPU</th>
              <th scope="col">Operating System</th>
              <th scope="col">Weight</th>
              <th scope="col">Price (Euros)</th>
              <th scope ="col">Edit </th>
            </tr>
          </thead>
          <tbody>
          {% for n in res %}
            <tr>
              <th scope="row">{{n[1]}}</th>
              <td>{{n[2]}}</td>
              <td>{{n[3]}}</td>
              <td>{{n[4]}}</td>
              <td>{{n[5]}}</td>
              <td>{{n[6]}}</td>
              <td>{{n[7]}}</td>
              <td>{{n[8]}}</td>
              <td>{{n[9]}}</td>
              <td>{{n[10]}}</td>
              <td>{{n[11]}}</td>
              <td>{{n[12]}}</td>
              <td><a href="{{ url_for('User.sell') }}">Edit Postings</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>  
      </div>
      {% endif %}

{% endblock content %}