<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>UIS - Laptopshop</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="../static/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="../static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../static/assets/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../static/assets/images/logo_text.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Macbooks</a></li>
                            <li class="scroll-to-section"><a href="#women">PCs</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('User.search') }}">Search</a></li>
                            {% if username == "Guest" %}
                            <li class="scroll-to-section"><a href="{{ url_for('Login.login') }}">Log In</a></li>
                            {% endif %}
                            {% if username != "Guest" %}
                            <li class="scroll-to-section"><a href="{{ url_for('Login.login') }}">Cart</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('User.sell') }}">Postings</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('User.profil') }}">Profile</a></li>
                            
                            {% endif %}

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Buy and sell<br>top-tier laptops</h4>
                                <span class="sig-text-color">Shop for your new laptop today!</span>
                                <div class="main-border-button">
                                    <a href="#">Shop Now!</a>
                                </div>
                            </div>
                            <img src="../static/assets/images/banner_left.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 class="sig-text-color">PC</h4>
                                            <span class="sig-text-color">Best personal computers</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>PC</h4>
                                                <p>Browse fast and cheap personal computers</p>
                                                <div class="main-border-button">
                                                    <li class="scroll-to-section"><a href="#women">Discover More</a></li>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="../static/assets/images/banner_right_pc.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 class="sig-text-color">Mac</h4>
                                            <span class="sig-text-color">Best laptops from Apple</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Mac</h4>
                                                <p>Browse the best laptops from Apple</p>
                                                <div class="main-border-button">
                                                    <li class="scroll-to-section"><a href="#men">Discover More</a></li>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="../static/assets/images/banner_right_mac.jpeg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Latest Apple Products</h2>
                        <span>The newest postings of products from apple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/macbook-hero-ii.webp" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Classic Macbook Hero</h4>
                                    <span>€420.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/macbook-air-gold-2015-16.webp" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Macbook Air Gold 2015</h4>
                                    <span>€1337.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/og-macbook-pro-202301.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Used Macbook pro 2013</h4>
                                    <span>€69.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/triple_macbook_front.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>3 Macbook Pro 12</h4>
                                    <span>€6969.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Latest windows laptop Postings</h2>
                        <span>New or old windows laptops</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/Old_fujitsu.jpeg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Old as rocks, but it still works</h4>
                                    <span>€9.99</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/hp_laptop_windows11.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Hp laptop</h4>
                                    <span>€269.99</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/lenovo_front.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Lenovo laptop</h4>
                                    <span>€420.69</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="../static/assets/images/samsung_front.avif" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Samsung laptop</h4>
                                    <span>€1200.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="../static/assets/images/rsz_ku_logo_dk.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">Universitetsparken 1</a></li>
                            <li><a href="#">ThisIsNotReal@WakeUp.com</a></li>
                            <li><a href="#">420-069-1337</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Postings &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Macbook Shopping</a></li>
                        <li><a href="#">Laptop Shopping</a></li>
                        <li><a href="#">Make A Posting</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="../static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/assets/js/popper.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../static/assets/js/owl-carousel.js"></script>
    <script src="../static/assets/js/accordions.js"></script>
    <script src="../static/assets/js/datepicker.js"></script>
    <script src="../static/assets/js/scrollreveal.min.js"></script>
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.counterup.min.js"></script>
    <script src="../static/assets/js/imgfix.min.js"></script> 
    <script src="../static/assets/js/slick.js"></script> 
    <script src="../static/assets/js/lightbox.js"></script> 
    <script src="../static/assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="../static/assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
